@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

* {
  /* border: 1px solid red; */
  font-family: Roboto;
}

body {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://github.com/TIY-GVL-FEE-2015-May/assignments/blob/master/2.3-sass-rwd/assets/bg.jpg?raw=true');
  margin: 0 auto;
  max-width: 1700px;
  height: auto;
  font-size: 62.5%;
}

.content {
  @include outer-container(1028px);
}

.topsocial {
  @include span-columns(12);
}

.sub {
  @include shift(5);
  text-transform: uppercase;
  line-height: 60px;
  color: rgba(255, 255, 255, 1);
  font-size: 1.6em;
}

.social {
  @include span-columns(1 of 12);
  float: right;
  box-shadow: 0 5px 0 rgba(135, 135, 131, .6);
  height: 70px;
  text-align: center;
  cursor: pointer;
}

.face {
  margin-left: 25px;
  background-color: rgba(66, 86, 149, 1);
}

.yell {
  background-color: rgba(204, 143, 50, 1);
}

.twitt {
  background-color: rgba(106, 141, 199, 1);
}

.youtube {
  background-color: rgba(178, 56, 45, 1);
}

.fa {
  margin-top: 10px;
  color: white;
  opacity: .5;
}

.fa:hover {
  opacity: 1;
  transition: 1s;
}

.fa-circle {
  color: white;
  margin-left: 10px;
}

.dotmenu {
  @include span-columns(.3);
  display: inline;
  float: right;
}

.navigate {
  @include span-columns(12);
  height: auto;
}

.nav {
  @include span-columns(3);
  float: left;
  margin-top: 70px;
  background-color: rgba(180, 40, 46, 1);
  color: white;
  height: 50px;
  text-align: center;
  font-size: 1.8em;
  box-shadow: 0 5px 0 rgba(135, 135, 131, .6);
  cursor: pointer;
}

.navhead {
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
}

.navhead::before,
.navhead::after {
  content: "";
  display: block;
  width: 14px;
  border: 2px solid white;
  position: absolute;
  top: 7px;
}

.navhead::before {
  left: -25px;
}

.navhead::after {
  right: -25px;
}

.nav:hover {
  transition: 1s;
  color: rgba(180, 40, 46, 1);
  background-color: white;
}

.nav:active {
  margin-top: 75px;
  border-bottom: 0;
}

.pic {
  @include span-columns(12);
  margin-top: 20px;
  border: 6px solid rgba(255, 255, 255, 1);
  box-shadow: 0 5px 0 rgba(135, 135, 131, .6);
  background-image: url('https://github.com/TIY-GVL-FEE-2015-May/assignments/blob/master/2.3-sass-rwd/assets/top-image.png?raw=true');
  background-position: -30px -100px;
  background-size: 50% / cover;
  height: 400px;
  overflow: hidden;
}

.grid {
  @include span-columns(12);
  opacity: .4;
}

.logo {
  @include span-columns(4);
  position: absolute;
  float: left;
  z-index: 1;
  margin-top: 50px;
  margin-left: 20px;
  height: auto;
}

.dots {
  @include span-columns(6);
  @include shift(5.5);
  height: 50px;
}

.dot-divider {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  float: left;
  margin-top: 15px;
  margin-right: 15px;
}

.dot-selected {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 7.5px;
  margin-left: 7.235px;
  background-color: #b4292e;
}

.newsstand {
  @include span-columns(12);
  height: 400px;
}

.news {
  @include span-columns(4);
  border-bottom: 5px solid rgba(135, 135, 131, .8);
  background-color: rgba(250, 250, 250, 1);
  height: 350px;
}

.newstitle {
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  font-size: 2.8em;
  color: rgba(18, 21, 15, 1);
}

.date {
  float: left;
  font-size: 1.5em;
  margin-top: 15px;
  color: rgba(167, 167, 167, 1);
  display: block;
  margin-left: 10px;
}

.lastthird {
  margin-top: 45px;
}

p {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  color: rgba(153, 153, 153, 1);
  font-size: 1.3em;
}

.read {
  float: left;
  margin-top: 50px;
  margin-left: 100px;
  color: rgba(178, 30, 39, 1);
  font-size: 1.8em;
  cursor: pointer;
}

.skatergroup {
  @include span-columns(12);
  height: 550px;
}

.skater {
  border: 5px solid white;
  text-align: center;
  font-weight: 900;
  box-shadow: 0 5px 0 grey;
  height: 224px;
}

.skater:hover .name {
  color: rgba(0, 0, 0, 0);
  transition: 1s;
}

.lanceandrod {
  @include span-columns(8);
  cursor: pointer;
}

.lance {
  @include span-columns(4 of 8);
  background-image: url('https://github.com/TIY-GVL-FEE-2015-May/assignments/blob/master/2.3-sass-rwd/assets/sk8er-4.png?raw=true');
  background-size: cover;
  background-position: -80px;
  height: 250px;
}

.rodney {
  @include span-columns(4 of 8);
  @include omega();
  background-image: url('https://github.com/TIY-GVL-FEE-2015-May/assignments/blob/master/2.3-sass-rwd/assets/sk8er-3.png?raw=true');
  background-size: cover;
  height: 250px;
}

.steve {
  @include span-columns(8 of 8);
  background-image: url('https://github.com/TIY-GVL-FEE-2015-May/assignments/blob/master/2.3-sass-rwd/assets/sk8er-1.png?raw=true');
  background-size: cover;
  background-position: 0 -50px;
  height: 250px;
  margin-top: 20px;
  float: left;
}

.tommycontain {
  @include span-columns(4, inline-block);
  cursor: pointer;
}

.tommy {
  @include span-columns(4 of 4);
  background-image: url('https://github.com/TIY-GVL-FEE-2015-May/assignments/blob/master/2.3-sass-rwd/assets/sk8er-2.png?raw=true');
  background-position: -470px;
  background-size: cover;
  height: 520px;
}

.name {
  margin: 0 auto;
  font-size: 4em;
  color: white;
  line-height: 250px;
}

.boards {
  @include span-columns(12);
  height: auto;
  background-color: white;
  box-shadow: 0 5px 0 rgba(135, 135, 131, .6);
}

.board {
  @include span-columns(1);
}

.white {
  @include shift(1);
}

.form {
  @include span-columns(12);
  background-color: rgba(248, 248, 248, 1);
  box-shadow: 0 5px 0 rgba(135, 135, 131, .6);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.contactinfo {
  @include span-columns(6 of 12);
}

.contact {
  margin-top: 10px;
  color: rgba(8, 9, 3, 1);
  font-size: 2em;
}

.formpara {
  margin-top: 10px;
  color: rgba(85, 85, 85, 1);
  font-size: 1.6em;
}

.smallsocial {
  @include span-columns(1);
  margin-top: 10px;
  background-color: grey;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.small-fac {
  @include shift(1);
  background-color: #425695;
}

.fac-logo {
  font-size: 20px;
}

.small-yell {
  background-color: #cc8f32;
}

.small-twit {
  background-color: #6a8ec2;
}

.small-yout {
  background-color: #b23631;
}

.contactfill {
  @include span-columns(6 fo 12);
}

.text {
  text-transform: uppercase;
  border: 1px solid white;
  padding: 5px;
}

.nameform {
  @include span-columns(11 of 12);
  margin-top: 20px;
  height: 60px;
  color: #b4292e;
  font-size: 1.4em;
}

.email {
  @include span-columns(11 of 12);
  margin-top: 10px;
  height: 60px;
  color: #b4292e;
  font-size: 1.4em;
}

.message {
  @include span-columns(11 of 12);
  margin-top: 10px;
  height: 100px;
  color: #b4292e;
  font-size: 1.4em;
}

.sumbit {
  @include span-columns(7);
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgba(180, 41, 46, 1);
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: rgba(255, 255, 255, 1);
  font-size: 1.6em;
  cursor: pointer;
}
